# This file will ignore every files that contains extensions included here

# Ignore Visual Studio Folder
.vs/

# Important files
.env

# Ignore build results
bin/
obj/
*.exe
*.pdb

# Ignore User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.bak
*.cache

# Build logs
*.log

# Windows
Thumbs.db
desktop.ini